body {
    background-color:Deeppink;
    color:white;
    line-height: 20px;
}
.em {
    font-size:5em;
    text-align: center;
   font-family: 'Alegreya Sans SC', sans-serif;
    margin-bottom:35px;
    margin-top:20px;
}
/*NAVIGATION DETAILS*/
#main {
    background-color:lightgray;
    margin:0 auto;
    width:100%;
    padding:0%;
}
main {
  width:72%;
  height:400px;
  float: left;
  float:right;
  padding:0.1%;
  text-align:start;
  font-size:120%;
  position:absolute;
}

#banner {
   text-align: center; 
   margin-bottom:2%;
}

header, 
main,
aside,
footer {
  border: white solid 6px;
  text-align: center;
}

header {
  width:100%;
  height:100%;
}

nav {
    text-align:center;
}

.navtext {
   color:white;
   text-align:center;
}

a {
    color:black;
    text-decoration:none;
}

a:hover {
    color:white;
}
/*NAVIGATION DETAILS*/

/*BUTTON DETAILS*/
.transbutton {
  background-color: lightgray;
  border:none;
  color:white;
  padding: 15px 32px;
  cursor: pointer;
  transition-duration:0.8s;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size:24px;
}
/*BUTTON DETAILS*/

.home{
    background-image:url("../images/collage.jpg");
    background-size:contain;
    background-repeat:repeat;
}

.homepic {
    display:block;
    margin:auto;
    margin-top: 28px;
}

.teamlist {
   font-size:30px;
   font-family: 'Alegreya Sans SC', sans-serif;
   list-style-type:square;
}

.teamgoals {
    text-decoration:underline;
    font-size:3em;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-bottom:22px;
}

.style14 { 
  border: 0; 
  height: 1.5px; 
  background-image: -webkit-linear-gradient(left, DeepPink, #8c8b8b, DeepPink);
  background-image: -moz-linear-gradient(left, DeepPink, #8c8b8b, DeepPink);
  background-image: -ms-linear-gradient(left, DeepPink, #8c8b8b, DeepPink);
  background-image: -o-linear-gradient(left, DeepPink, #8c8b8b, DeepPink); 
  line-height: 40px;
  margin-bottom:1px;
}

.aboutp {
    font-size:2em;
    text-align:center;
    display:block;
    line-height: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-top:15px;
    margin-bottom: 15px;
    padding-left:100px;
    padding-right:100px;
}
